@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css');

html, body {
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
  font-size: 16px;
}

/* Fixed navbar */
.nav-right {
  position: absolute;
  right: 20%;
  top: 16%;
  z-index: 2;
}

.navbar
{
  display:block;
  float: right;
  margin-left: 14px;
  text-align: right;
}

/*
.navbar li a{
  height: 40px;
}
*/

.navbar li ul {
  width: 550px;
  background-color: #f1f1f1;
}

.navbar-logout li ul {
  width: auto;
  text-align: right;
  clear: both;
}

.navbar-logout li a {
  clear: both;
  text-align: right;
  padding: 4px 10px 4px 4px;
  width: 185px;
  font-weight: bold;
  color: #0A6030;
  text-decoration: none;
}

.navbar, .navbar-logout li a:hover, a:visited, a:active, a:focus {
  color: #0A6030;
}

.navbar .text-center h3 {
  margin-bottom: 20px;
}

.navbar form label {
  font-size: 16px;
  font-weight: normal;
}

.navbar form input[type=text], input[type=email], input[type=password]
{
  width: 300px;
}
